body {
  background-color: rgb(210, 234, 249);
}

/* overskrift h1 design */
h1{
font-style: italic;
}
h1{
background-color: rgb(300,300,300)
    
}
h2{
background-color: rgb(230, 250, 210 )
}

p{
background-color: rgb(217,254,188)
}
    
div.kasse {
padding: 50px;
margin: 10px;
background: rgb(230, 250, 210);
border: 2px solid black;
width: 300px;
height: 450px;
font-size: 10px;
}

div.kasse1 {
padding: 50px;
margin: 10px;
background: rgb(230, 250, 210);;
border: 2px solid black; 
width: 310px;
height: 300px;
font-size: 10px;
}

div.kasse2 {
padding: 50px;
margin: 10px;
background: rgb(230, 250, 210);;
border: 2px solid black; 
width: 310px;
height: 30px;
font-size: 10px;
}

div.kasse3 {
padding: 10px;
margin: 10px;
background: rgb(227, 249, 210);
border: 2px solid black;
width: 300px;
height: 375px;
    font-size: 10px;}
    
    div.kasse4 {
padding: 10px;
margin: 10px;
background: rgb(227, 249, 210);
border: 2px solid black;
width: 300px;
height: 375px;
font-size: 10px;
position: fixed;
        top: 69px;
        left: 400px;
        
}








